@font-face {
  font-family: 'The Sims Sans';
  src: url('/assets/fonts/TheSimsSans-Bold.woff2') format('woff2'),
      url('/assets/fonts/TheSimsSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

